<div class="row">
    <div class="col-sm-12 Admin-panel">
        <h2 class="page-header">Actualizar empresa</h2>
    </div>
</div>

<form class="form-horizontal Form"
      id="companiesForm"
      name="companiesForm"
      ng-submit="$ctrl.action()"
      novalidate>

    <button id="addTemplates"
            class="btn btn-primary"
            ng-click="$ctrl.modalTemplates()">
        <span class="glyphicon glyphicon-plus"></span>
        Agregar Plantilla
    </button>
    <br><br>

    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label class="col-sm-2 Form-label">Documentos:</label>
                <div class="col-sm-10">
                    <md-chips class="custom-chips"
                              ng-model="$ctrl.documents"
                              readonly="$ctrl.readonly"
                              md-removable="$ctrl.removable"
                              md-transform-chip="$ctrl.documents($chip)">
                        <md-chip-template>
                         <span ng-bind="$chip.descripcion">
                         </span>
                        </md-chip-template>

                        <button md-chip-remove=""
                                class="md-primary removechip"
                                ng-click="$ctrl.deleteDocument($chip.documentoid)">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </md-chips>
                </div>
            </div>
        </div>
    </div>
    <companies-form></companies-form>

</form>
<hr>
<div class="row">
    <div class="col-md-12 Admin-panel ">
        <h2 class="page-header">Agregar Usuarios</h2>
    </div>
</div>
<section class="Layout row">

    <div class="Layout-wide col-md-12">

        <app-table datasource="$ctrl.users"
                   headertable="$ctrl.headerTable"
                   columns="$ctrl.columns">
        </app-table>

    </div>
    <div class="col-md-12 app-row-btn"></div>
</section>
