<div class="row">
    <div class="col-sm-12 Admin-panel">
        <h2 class="page-header">Actualizar Perfil</h2>
    </div>
</div>
<form class="form-horizontal Form"
      id="profilesForm"
      name="profilesForm"
      novalidate>
    <profiles-form></profiles-form>
</form>
<hr>
<div class="row">
    <div class="col-md-12 Admin-panel ">
        <h2 class="page-header">Agregar Permisos</h2>
    </div>
</div>
<table class="table table-bordered table-hover table-condensed table-striped">
    <thead class="header md-whiteframe-z1">
    <tr>
        <th class="text-center">Descripción</th>
        <th class="text-center">Estado
            <input type="checkbox"
                   ng-model="$ctrl.states"
                   ng-change="$ctrl.updateAllStatesPermission()"/>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="permission in $ctrl.permissionsProfiles"
        class="text-center">
        <td class="cell"
            ng-bind="permission.descripcion">
        </td>
        <td class="cell">
            <input type="checkbox"
                   ng-model="permission.valor"
                   ng-change="$ctrl.updatePermissionProfile(permission)"/>
        </td>
    </tr>
    </tbody>
</table>
<div class="col-md-12 app-row-btn"></div>

