<div ui-view="">


    <div layout="row" layout-sm="row" layout-xl="row" layout-xs="row" style="margin-top: 10px;margin-bottom: 15px;">
        <div id="toaster">

        </div>
        <div flex="50">
            <md-button class="md-raised md-warn btn_crear" ng-click="$ctrl.CreateOrEditCiudad('Crear', null, null);" style="left: 0;" flex="50">Crear</md-button>
        </div>
        <div flex style="text-align: right;">
            <h1 style="margin-right:15px;" class="font-title">Ciudades</h1>
        </div>
    </div>



    <table datatable="ng" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th style="text-align:center;width:25%">
                   Ciudad
                </th>
                <th style="text-align:center;width:25%">
                   Departamento
                </th>
                <th style="text-align:center;width:25%">
                    Pais
                </th>
                <th style="text-align: center;">
                    Codigo Post
                </th>
                <th style="text-align:center;">
                    Acciones
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in $ctrl.Ciudades">
                <td>
                    <span ng-bind="item.nombreciu"></span>
                </td>
                <td>
                    <span ng-bind="item.nombredept"></span>
                </td>
                <td>
                    <span ng-bind="item.nombrepais"></span>
                </td>
                <td>
                    <span ng-bind="item.codigopost"></span>
                </td>
                <td style="text-align:center;">
                    <a class="icon-pencil2 hico" href="" ng-click="$ctrl.CreateOrEditCiudad('Editar', item.hlnciudadid, $index);"></a> |
                    <a class="icon-bin hico" ng-click="$ctrl.showConfirm($event, item, $index);" href=""></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>