<div ui-view="">
    <div class="container container-view">
        <div class="app-container">

            <div class="col-xs-6 col-sm-3 placeholder app-item">
                <a ui-sref="app.admin.companies"><img ng-src="assets/img/activos.png"/></a>
                <h2>Empresas</h2>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder app-item">
                <a ui-sref="app.admin.profiles"><img ng-src="assets/img/roles.png"/></a>
                <h2>Perfiles</h2>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder app-item">
                <a ui-sref="app.admin.auditoria"><img ng-src="assets/img/SEO-icon.png"/></a>
                <h2>Auditoria</h2>
            </div>

        </div>
    </div>
</div>