<div class="modal-header">
    <h3 class="modal-title text-center" id="modal-title" ng-bind="$ctrl.nameModule"></h3>
</div>
<div class="modal-body" id="modal-body">

    <form class="Form " name="$ctrl.form">

        <div class="row">

            <div class="col-sm-4 col-xs-4 col-md-4">
                <input type="password" 
                class="form-control" 
                placeholder="Contraseña Actual" 
                ng-model="$ctrl.passwordactual" />
            </div>

            <div class="col-sm-offset-2 col-xs-offset-2 col-md-offset-2 col-sm-4 col-xs-4 col-md-4">
                <input type="password" 
                class="form-control" 
                placeholder="Nueva Contraseña" 
                ng-model="$ctrl.passwordnew" />
            </div>

        </div>

        <div class="row" style="margin-top:10px;">
            <div class="col-sm-4 col-xs-4 col-md-4">

            </div>
            <div class="col-sm-offset-2 col-xs-offset-2 col-md-offset-2 col-sm-4 col-xs-4 col-md-4">
                <input type="password" 
                class="form-control" 
                placeholder="Confirme Nueva Contraseña" 
                ng-model="$ctrl.passwordnew2" />
            </div>
        </div>


        <div class="row" style="margin-top:10px;">
            <div class="col-sm-4 col-xs-4 col-md-4">

            </div>
            <div class="col-sm-offset-2 col-xs-offset-2 col-md-offset-2 col-sm-4 col-xs-4 col-md-4">
                <div class="alert alert-danger" ng-if="!($ctrl.passwordnew === $ctrl.passwordnew2)">
                    Las contraseñas deben ser iguales
                </div>

                <span ng-bind="$ctrl.error">

            </div>

        </div>


    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" 
    ng-disabled="!($ctrl.passwordnew === $ctrl.passwordnew2)" 
    ng-click="$ctrl.confirmChange()">Guardar
    </button>
    <button class="btn btn-danger" type="button" ng-click="$ctrl.cancel()">Cancelar
    </button>
</div>