<div flex="100" class="menu_bar ">
    <div class="bt-menu">
        <div layout="row">
            <div flex="90" class="open_list" style="padding: 10px;">
                HALLEARN
            </div>
            <div flex="10">
                <md-button class="md-raised md-warn" ng-click="$ctrl.CrearUsuario();" style="left: 0;">
                    <span translate="LNG_REGISTRAR"></span>
                </md-button>

           <!--     <div class="options">
                    <div class="dropdown">
                        <md-button data-toggle="dropdown" style="min-width:10px !important; margin:0">
                                <img ng-src="assets/img/español.png" ng-show="$ctrl.language == 'es'"/>
                                <img ng-src="assets/img/ingles.png" ng-show="$ctrl.language == 'en'"/>
                        </md-button>
                        <ul class="dropdown-menu" style="left:0px;margin-top: 10px;min-width:30px !important;text-align:center">
                            <li style="margin-bottom:5px;"><a style="padding:0" href="" ng-click="$ctrl.changeLanguage('es')"><img ng-src="assets/img/español.png"/></a></li>
                            <li><a style="padding:0" href="" ng-click="$ctrl.changeLanguage('en')"><img ng-src="assets/img/ingles.png"/></a></li>
                        </ul>
                    </div>
                </div> -->

            </div>
        </div>
    </div>
</div>

<!--<li translate="QUESTION"></li>
<li translate="SALUDO"></li>-->

<div layout="row" layout-align="center center">
    <div class="loginBox md-whiteframe-z1" style="margin-top: 4%">
        <form id="formLogin" name="formlogin" ng-submit="$ctrl.login($ctrl.username,$ctrl.password)">
            <md-content layout="column" class="md-padding">
                <md-input-container>
                    <label for="username">
                        <span translate="LNG_USUARIO_LOG"></span>
                    </label>
                    <input id="username" name="username" type="text" ng-model="$ctrl.username" class="Login-inputFields" required="" />
                    <div ng-messages="formlogin.username.$error">
                        <div ng-message="required">
                            <span translate="LNG_USUARIO_LOG_ERROR"></span>
                        </div>
                    </div>
                </md-input-container>
                <md-input-container>
                    <label for="password">
                        <span translate="LNG_PASSWORD_LOG"></span>
                    </label>
                    <input id="password" name="password" type="password" ng-model="$ctrl.password" class="Login-inputFields" required="" />
                    <div ng-messages="formlogin.password.$error" role="alert">
                        <div ng-message="required">
                            <span translate="LNG_PASSWORD_LOG_ERROR"></span>
                        </div>
                    </div>
                </md-input-container>
                <div class="alert alert-danger" role="alert" ng-if="$ctrl.handleError">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    <span ng-bind="$ctrl.handleError"></span>
                </div>
                <div class="bottom-sheet-demo inset" layout="row" layout-align="center">
                    <md-button class="md-raised md-warn" type="submit" flex="100">
                        <span translate="LNG_INICIAR_SESION"></span>
                    </md-button>
                </div>
            </md-content>
        </form>
    </div>
</div>

<footer class="footer" style="position: absolute">
    <div class="container">
        <span class="text-center copyRight">HALLEARN <span class="fa fa-copyright"></span> 2017</span>
    </div>
</footer>