<div ui-view="" class="margin-body">
    <div class="container" style="width: 90%;margin-top: 10%">
        <div class="row" style="text-align: center">
            <div class="col-md-4">
                <a ui-sref="app.ubicacion.pais">
                    <img ng-src="assets/img/pais.jpg" />
                    <br>
                    <span translate="LNG_PAISES"></span>
                </a>
            </div>
            <div class="col-md-4">
                <a ui-sref="app.ubicacion.departamento">
                    <img ng-src="assets/img/departamentos.png" />
                    <br>
                    <span translate="LNG_DEPARTS"></span>
                </a>
            </div>
            <div class="col-md-4">
                <a ui-sref="app.ubicacion.ciudad">
                    <img ng-src="assets/img/ciudad.png" />
                    <br>
                    <span translate="LNG_CIUDADES"></span>
                </a>
            </div>
        </div>
    </div>
</div>