<div ui-view="">

    <div layout="row" layout-sm="row" layout-xl="row" layout-xs="row" style="margin-top: 10px;margin-bottom: 15px;">
        <div id="toaster">

        </div>
        <div flex="50">
            <md-button class="md-raised md-warn btn_crear" ng-click="$ctrl.CreateOrEditTema('Crear', null, null);" style="left: 0;" flex="50">
                <span translate="LNG_CREAR"></span>
            </md-button>
        </div>
        <div flex style="text-align: right;">
            <h1 style="margin-right:15px;" class="font-title"><span translate="LNG_TEMAS"></span></h1>
        </div>
    </div>


        <table datatable="ng" class="table table-responsive table-bordered table-striped">
            <thead>
                <tr>
                    <td style="text-align: center;"><span translate="LNG_TEMA"></span></td>
                    <td style="text-align: center;"><span translate="LNG_MATERIA"></span></td>
                    <td style="text-align: center;"><span translate="LNG_PRECHORA"></span></td>
                    <td style="text-align: center;"><span translate="LGN_ACCIONES"></span></td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in $ctrl.temas">
                    <td>
                        <span ng-bind="item.nombre"></span>
                    </td>
                    <td>
                        <span ng-bind="item.materia"></span>
                    </td>
                    <td style="text-align: right;">
                        <span ng-bind="item.precio_hora | currency"></span>
                    </td>
                    <td style="text-align: center;">
                        <a class="icon-pencil2 hico" href="" ng-click="$ctrl.CreateOrEditTema('Editar', item.hlntemaid, $index);"></a> |
                        <a class="icon-bin hico" ng-click="$ctrl.showConfirm($event, item, $index);"></a>
                    </td>
                </tr>
            </tbody>
        </table>
</div>