<header>

    <div class="menu_bar">
        <div class="bt-menu">
            <a href="" class="open_list">
                <span class="icon-menu"></span>
                <span class="titulo">HALLEARN</span>
            </a>
            <div class="options">


                <div class="dropdown">
                <md-button class="icon-user" data-toggle="dropdown">
                    <span ng-bind="$ctrl.currentUser"> </span><span class="caret" style="margin-left: 5px;margin-bottom: 5px;"></span>
                </md-button>
                    <ul class="dropdown-menu" style="left: -60px;">
                        <li><a href="#" ng-click="$ctrl.logout()"><span class="icon-key"></span> Cambiar Contraseña</a></li>
                        <li><a href="#" ng-click="$ctrl.logout()"><span class="icon-exit"></span> Salir</a></li>
                    </ul>
                </div>

                
            </div>
        </div>
    </div>

    <nav>
        <ul>
            <li>
                <a href="" ui-sref="app.home"><span class="icon-home3"></span>Inicio</a>
            </li>
            <li>
                <a href="" ui-sref="app.datos"><span class="icon-profile"></span>Mis Datos</a>
            </li>
            <li class="submenu_alumno" ng-show="$ctrl.showAlumno">
                <a href=""><span class="icon-user"></span>Alumno <span class="caret icon-arrow-down6"></span> </a>
                <ul class="children children_alumno">
                    <li><a href=""><span class="icon-spinner6"></span>Clases</a></li>
                    <li><a href=""><span class="icon-spinner6"></span>Tomar Clase</a></li>
                </ul>
            </li>
            <li class="submenu_profesor" ng-show="$ctrl.showProfesor">
                <a href=""><span class="icon-user"></span>Profesor <span class="caret icon-arrow-down6"></span></a>
                <ul class="children children_profesor">
                    <li><a href=""><span class="icon-spinner6"></span>Iniciar Clase</a></li>
                </ul>
            </li>
            <li class="submenu_admin" ng-show="$ctrl.showAdministrador">
                <a href=""><span class="icon-user-tie"></span>Administrador<span class="caret icon-arrow-down6"></span></a>
                <ul class="children children_admin">
                    <li><a href="" ui-sref="app.usuario"><span class="icon-spinner6"></span>Usuarios</a></li>
                    <li><a href="" ui-sref="app.asignatura"><span class="icon-spinner6"></span>Asignaturas</a></li>
                    <li><a href="" ui-sref="app.progtema"><span class="icon-spinner6"></span>Programar Temas</a></li>
                    <li><a href="" ui-sref="app.ubicacion"><span class="icon-spinner6"></span>Ubicación</a></li>
                    <li><a href="" ui-sref="app.configuracion"><span class="icon-spinner6"></span>Configuración</a></li>
                </ul>
            </li>
        </ul>

    </nav>





</header>