<section>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="name"
                       class="col-sm-4 Form-label">Nombre</label>
                <div class="col-sm-8">
                    <input type="text"
                           id="name"
                           name="name"
                           class="form-control Form-inputs"
                           ng-model="$ctrl.user.nombre"
                           pattern="[ñáéíóúA-Za-z ]+"
                           required/>
                    <div ng-messages="usersForm.name.$error"
                         ng-hide="usersForm.name.$pristine">
                        <div ng-messages-include="components/errores.html"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">

            <div class="form-group">
                <label for="last_name"
                       class="col-sm-4 Form-label">Apellido</label>
                <div class="col-sm-8">
                    <input type="text"
                           id="last_name"
                           name="last_name"
                           class="form-control Form-inputs"
                           ng-model="$ctrl.user.apellido"
                           pattern="[ñáéíóúA-Za-z ]+"
                           required/>
                    <div ng-messages="usersForm.last_name.$error"
                         ng-hide="usersForm.last_name.$pristine">
                        <div ng-messages-include="components/errores.html"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-md-6">

            <div class="form-group">
                <label for="user_email" class="col-sm-4 Form-label">Email</label>
                <div class="col-sm-8">
                    <input type="email"
                           id="user_email"
                           name="user_email"
                           class="form-control Form-inputs"
                           ng-model="$ctrl.user.email"
                           required/>
                    <p class="Form-error" ng-if="usersForm.user_email.$error.email">Digite un correo válido</p>
                </div>
            </div>

        </div>
        <div class="col-md-6">

            <div class="form-group">
                <label for="user_phone" class="col-sm-4 Form-label">Teléfono</label>
                <div class="col-sm-8">
                    <input type="text"
                           id="user_phone"
                           name="user_phone"
                           class="form-control Form-inputs"
                           string-to-number=""
                           ng-model="$ctrl.user.telefono"/>
                    <p class="Form-error" ng-if="usersForm.user_phone.$error.number">No se admiten letras</p>
                    <p class="Form-error" ng-if="usersForm.user_phone.$error.minlength">Mínima cantidad de
                        dígitoses7</p>
                </div>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-md-6">

            <div class="form-group">
                <label for="username"
                       class="col-sm-4 Form-label">Nombre de usuario</label>
                <div class="col-sm-8">
                    <input type="text"
                           id="username"
                           name="username"
                           class="form-control Form-inputs"
                           ng-model="$ctrl.user.username"
                           required/>
                    <div ng-messages="usersForm.username.$error"
                         ng-hide="usersForm.username.$pristine">
                        <div ng-messages-include="components/errores.html"></div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-6">

            <div class="form-group">
                <label for="user_password" class="col-sm-4 Form-label">Contraseña</label>
                <div class="col-sm-8">
                    <input type="password"
                           id="user_password"
                           name="user_password"
                           class="form-control Form-inputs"
                           ng-model="$ctrl.user.clave"
                           required/>
                </div>
                <div ng-messages="usersForm.user_password.$error"
                     ng-hide="usersForm.user_password.$pristine">
                    <div ng-messages-include="components/errores.html"></div>
                </div>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-md-6">

            <div class="form-group">
                <label for="id-profile" class="col-sm-4 Form-label">Perfil</label>
                <div class="col-sm-8">
                    <select id="id-profile"
                            name="id-profile"
                            class="form-control Form-inputs styled-select"
                            ng-model="$ctrl.perfil"
                            ng-options="profile.descripcion for profile in $ctrl.profiles"
                            required>
                    </select>
                </div>
            </div>

        </div>
    </div>

    <button class="btn btn-success"
            ng-click="$ctrl.action()"
            ng-disabled="usersForm.$invalid">Guardar
    </button>
    <button class="btn btn-danger"
            ng-click="$ctrl.cancel()">Cancelar
    </button>
</section>
