<div class="modal-header">
    <h3 class="modal-title text-center" id="modal-title" ng-bind="$ctrl.titulo"></h3>
</div>

<div class="modal-body" id="modal-body">

    <div class="row">
        <div class="col-md-3">
            <h4 ng-bind="$ctrl.materia"></h4>
        </div>
        <div class="col-md-6">
            <h5>({{$ctrl.tema.tema}}){{$ctrl.h.horaini}}-{{$ctrl.h.horafin}}</h5>
        </div>
    </div>

    <div class="row" style="margin-top: 10px;">
        <div class="col-md-3">
            Fecha
        </div>
        <div class="col-md-6">
            <input type="date" class="form-control" ng-model="$ctrl.clase.fecha" min="{{$ctrl.fechamin | date:'yyyy-MM-dd'}}" ng-blur="$ctrl.getHoraAsgs($ctrl.clase.hlnprogtemaid, $ctrl.clase.fecha)"
                required>
        </div>
    </div>

    <div class="row" style="margin-top: 10px;">
        <div class="col-md-3">
            Hora
        </div>
        <div class="col-md-3">
            <input type="time" class="form-control" ng-model="$ctrl.clase.horaini" min="{{$ctrl.h.horaini}}" max="{{$ctrl.h.horafin}}"
                ng-blur="$ctrl.changehour($ctrl.clase)" required>
        </div>
        <div class="col-md-3">
            <input type="time" class="form-control" ng-model="$ctrl.clase.horafin" min="{{$ctrl.h.horaini}}" max="{{$ctrl.h.horafin}}"
                ng-blur="$ctrl.changehour($ctrl.clase)" required>
        </div>
    </div>
</div>


<div class="modal-footer">
    <md-button class="md-raised hbtn-success" type="button" ng-click="$ctrl.SaveClass($ctrl.clase)">
        <span translate="LGN_GUARDAR"></span>
    </md-button>
    <md-button class="hbtn-primary md-raised " type="button" ng-click="$ctrl.cancel()">
        <span translate="LGN_CANCEL"></span>
    </md-button>
</div>