
<div class="modal-header">
    <h3 class="modal-title text-center" id="modal-title" ng-bind="$ctrl.titulo"></h3>
</div>
<div class="modal-body" id="modal-body">

    <form class="Form " name="$ctrl.form">

        <div class="row">
            <div class="col-sm-4 col-xs-4 col-md-4">
                Pais <strong>*</strong>
            </div>
            <div class="col-sm-6 col-xs-6 col-md-6">

    <ui-select ng-model="$ctrl.scope.paises.selected" theme="selectize" reset-search-input="false" title="Seleccione un Pais"
                    ng-change="$ctrl.Depts($ctrl.scope.paises.selected);" append-to-body="true">
                    <ui-select-match placeholder="seleccionar...">{{$select.selected.Text}}</ui-select-match>
                    <ui-select-choices repeat="item in  $ctrl.scope.paises | filter : $select.search" refresh-delay="0">
                        <div ng-bind-html="item.Text | highlight: $select.search"></div>
                    </ui-select-choices>
                    </ui-select>
            </div>
        </div>
        <div class="row" style="margin-top:10px;">
            <div class="col-sm-4 col-xs-4 col-md-4">
                Departamento <strong>*</strong>
            </div>
            <div class="col-sm-6 col-xs-6 col-md-6">
                <ui-select ng-model="$ctrl.departamentos.selected" theme="selectize" reset-search-input="false" title="Seleccione un Departamento"
                    append-to-body="true">
                    <ui-select-match placeholder="seleccionar...">{{$select.selected.Text}}</ui-select-match>
                    <ui-select-choices repeat="item in  $ctrl.departamentos | filter : $select.search" refresh-delay="0">
                        <div ng-bind-html="item.Text | highlight: $select.search"></div>
                    </ui-select-choices>
                    </ui-select>
            </div>
        </div>
        <div class="row" style="margin-top:10px;">
            <div class="col-sm-4 col-xs-4 col-md-4">
                Ciudad <strong>*</strong>
            </div>
            <div class="col-sm-6 col-xs-6 col-md-6">
                <input type="text" class="form-control" ng-model="$ctrl.Ciudad.nombreciu" required/>
            </div>
        </div>
        <div class="row" style="margin-top:10px;">
            <div class="col-sm-4 col-xs-4 col-md-4">
                Codigo Post
            </div>
            <div class="col-sm-6 col-xs-6 col-md-6">
                <input class="form-control" ng-model="$ctrl.Ciudad.codigopost" />
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <md-button class="md-raised hbtn-success" style="	background-color : #024959;
	color:white;
	margin:2px;" type="button" ng-if="$ctrl.Ciudad.hlnciudadid === 0" ng-click="$ctrl.CrearCiudad($ctrl.Ciudad)">Guardar
        </md-button>
        <md-button class="md-raised hbtn-success" type="button" ng-if="$ctrl.Ciudad.hlnciudadid > 0" ng-click="$ctrl.editarCiudad($ctrl.Ciudad)">Guardar
        </md-button>
        <md-button class="hbtn-primary md-raised " type="button" ng-click="$ctrl.cancel()">Cancelar
        </md-button>
</div>