

<div class="modal-header">
    <h3 class="modal-title text-center" id="modal-title" ng-bind="$ctrl.titulo"></h3>
</div>
<div class="modal-body" id="modal-body">

    <form class="Form " name="$ctrl.form">

        <div class="row">
            <div class="col-sm-4 col-xs-4 col-md-4">
                Pais <strong>*</strong>
            </div>
            <div class="col-sm-6 col-xs-6 col-md-6">
                <input type="text" class="form-control" ng-model="$ctrl.Pais.nombre" required/>
            </div>
        </div>

        <div class="row" style="margin-top:10px;">
            <div class="col-sm-4 col-xs-4 col-md-4">
                Codigo
            </div>
            <div class="col-sm-6 col-xs-6 col-md-6">
              <input class="form-control" ng-model="$ctrl.Pais.codigo" /> 
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <md-button class="md-raised hbtn-success" style="	background-color : #024959;
	color:white;
	margin:2px;" type="button" ng-if="$ctrl.Pais.hlnpaisid === 0" ng-click="$ctrl.crearPais($ctrl.Pais)">Guardar
    </md-button>
    <md-button class="md-raised hbtn-success" type="button" ng-if="$ctrl.Pais.hlnpaisid > 0" ng-click="$ctrl.editarPais($ctrl.Pais)">Guardar
    </md-button>
    <md-button class="hbtn-primary md-raised " type="button" ng-click="$ctrl.cancel()">Cancelar
    </md-button>
</div>