<div class="modal-header">
    <h3 class="modal-title text-center" id="modal-title" ng-bind="$ctrl.titulo"></h3>
</div>
<div class="modal-body" id="modal-body">

    <form class="Form " name="$ctrl.form">

        <div class="row">
            <div class="col-sm-4 col-xs-4 col-md-4">
                <span translate="LNG_TEMA"></span> <strong>*</strong>
            </div>
            <div class="col-sm-6 col-xs-6 col-md-6">
                <input type="text" class="form-control" ng-model="$ctrl.tema.nombre" required/>
            </div>
        </div>

        <div class="row" style="margin-top:10px;">
            <div class="col-sm-4 col-xs-4 col-md-4">
                <span translate="LNG_MATERIA"></span> <strong>*</strong>
            </div>
            <div class="col-sm-6 col-xs-6 col-md-6">

                <ui-select ng-model="$ctrl.materias.selected" theme="selectize" reset-search-input="false" title="Seleccione una Materia"
                    append-to-body="true">
                    <ui-select-match placeholder="seleccionar...">{{$select.selected.Text}}</ui-select-match>
                    <ui-select-choices repeat="item in  $ctrl.materias | filter : $select.search" refresh-delay="0">
                        <div ng-bind-html="item.Text | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>


            </div>

        </div>
        <div class="row" style="margin-top:10px;">
            <div class="col-sm-4 col-xs-4 col-md-4">
              <span translate="LNG_PRECIO"></span>
            </div>
            <div class="col-sm-6 col-xs-6 col-md-6">
                <input type="text" class="form-control" ng-model="$ctrl.tema.precio_hora" required />
            </div>
        </div>
        <div class="row" style="margin-top:10px;">
            <div class="col-sm-4 col-xs-4 col-md-4">
                <span translate="LGN_DESCRIP"></span>
            </div>
            <div class="col-sm-6 col-xs-6 col-md-6">
                <textarea class="form-control" ng-model="$ctrl.tema.descripcion"></textarea>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <md-button class="md-raised hbtn-success" style="background-color : #024959;
	color:white;
	margin:2px;" type="button" ng-if="$ctrl.tema.hlntemaid === 0" ng-click="$ctrl.crearTema($ctrl.tema)"><span translate="LGN_GUARDAR"></span>
    </md-button>
    <md-button class="md-raised hbtn-success" type="button" ng-if="$ctrl.tema.hlntemaid > 0" ng-click="$ctrl.editarTema($ctrl.tema)"><span translate="LGN_GUARDAR"></span>
    </md-button>
    <md-button class="hbtn-primary md-raised " type="button" ng-click="$ctrl.cancel()"><span translate="LGN_CANCEL"></span>
    </md-button>
</div>