<!-- <span class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <ul ng-repeat="(key,value) in $ctrl.nuevo track by $index" style="background-color:{{1===1?'YELLOW':'yellow'}}">
                
                <li>
                    
                    <span ng-bind="key"> </span> : <span ng-bind="value"></span>
              
                </li>
            </ul>
        </span>-->

<!--<span class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <ul ng-repeat="(key,value) in $ctrl.anterior track by $index" style="background-color:{{$even?'white':'yellow'}}">

                <li>
                    <span ng-bind="key"> </span> : <span ng-bind="value" ></span>
                </li>
            </ul>
        </span>-->

<table class="table table-bordered table-hover table-condensed table-striped">


    <thead class="header md-whiteframe-z1">
        <tr>
            <th class="text-center">Usuario Ejecutante</th>
            <th class="text-center">Empresa Ejecutante</th>
            <th class="text-center">Equipo Ejecutante</th>
            <th class="text-center">Fecha de Modificación</th>
            <th class="text-center">Modulo Referente</th>
            <th class="text-center">Accion Realizada</th>


        </tr>
    </thead>

    <tbody>








        <!--    <tr ng-repeat="n in $ctrl.array($ctrl.largo) track by $index">
-->
        <tr>


            <td>
                <center> <span>{{$ctrl.campos_json.usuario}}</span></center>

            </td>

            <td>
                <center> <span>{{$ctrl.campos_json.empresa}}</span></center>

            </td>

            <td>
                <center> <span>{{$ctrl.campos_json.direccionip}}</span></center>

            </td>

            <td>
                <center> <span>{{$ctrl.auditoria.fechaaccion}}</span></center>

            </td>

            <td>
                <center> <span>{{$ctrl.campos_json.modulo}}</span></center>

            </td>

            <td>
                <center> <span>{{$ctrl.campos_json.accion}}</span></center>

            </td>



        </tr>




    </tbody>

</table>


<table class="table table-bordered table-hover table-condensed table-striped">

    <thead class="header md-whiteframe-z1">
        <tr>
            <th class="text-center">Variable</th>
            <th class="text-center">Valor Antiguo</th>
            <th class="text-center">Valor Nuevo</th>

        </tr>

    </thead>

    <tbody>


        <!--    <tr ng-repeat="n in $ctrl.array($ctrl.largo) track by $index"> -->

        <tr>

            <td>
                <center> <span>{{$ctrl.campos_json.campos[0].campo}}</span></center>

            </td>
            <td>
                <center> <span>{{$ctrl.campos_json.campos[0].valor_anterior}}</span> </center>

            </td>


            <td>
                <center> <span>{{$ctrl.campos_json.campos[0].valor_nuevo}}</span> </center>
            </td>


        </tr>


    </tbody>


</table>