<div ui-view="" class="margin-body">

    <div class="container" style="width: 90%;margin-top: 10%">
        <div class="row" style="text-align: center">
            <div class="col-md-6">
                <a ui-sref="app.asignatura.materia">
                    <img ng-src="assets/img/pais.jpg" />
                    <br>
                    <span translate="LNG_MATERIAS"></span>
                </a>
            </div>
            <div class="col-md-6">
                <a ui-sref="app.asignatura.tema">
                    <img ng-src="assets/img/departamentos.png" />
                    <br>
                    <span translate="LNG_TEMAS"></span>
                </a>
            </div>
        </div>
    </div>
    
</div>