<div ui-view="">
    <table style="width: 100%; height: 500px;">
        <tr>
            <td style="text-align: center;">
                <a ui-sref="app.asignatura.materia">
                    <img ng-src="assets/img/pais.jpg"  />
                <br>
                <span translate="LNG_MATERIAS"></span>
                </a>       
            </td>
            <td style="text-align:center;">
                <a ui-sref="app.asignatura.tema">
                    <img ng-src="assets/img/departamentos.png" />
                <br>
                <span translate="LNG_TEMAS"></span>
                </a>          
            </td>
        </tr>
    </table>
</div>